[submodule "singleapplication"]
	path = singleapplication
	url = git@github.com:itay-grudev/SingleApplication.git
[submodule "QHotkey"]
	path = QHotkey
	url = https://github.com/Skycoder42/QHotkey.git
